html {
  /* font-size: 62.5%; */
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, .8);
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/* ======================
  1. Navbar
========================= */



.logo {
  width: 3rem;
}

/* --------NavLink--------- */
nav a.nav-link {
  /* font-weight: 500;
  letter-spacing: 0.06rem; */
  cursor: pointer;
}

.navbar-nav > li > a {
  margin: 0 .75rem 0 .75rem;
  color: var(--primary-white) !important;
  border-top: 3px solid transparent;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 3px solid var(--primary-orange);
}